<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="MailServer" type="LangleyLib.MailServerLib.Configuration.MailServer, LangleyLib.MailServerLib" />
  </configSections>
  <MailServer>
    <SmtpSettings>
      <add Key="Smtp" DisplayName="Smtp" Address="Smtp@Smtp.com" UserName="Smtp"
         Password="" Host="127.0.0.1" Port="25" EnableSsl="false" />
    </SmtpSettings>
  </MailServer>
</configuration>
