<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="AdServer" type="LangleyLib.AdLib.Configuration.AdServer, LangleyLib.AdLib" />
  </configSections>
  <AdServer>
    <AdSettings>
      <add Key="WinNT" AdType="WinNT" Path="WinNT://PCName"
           Domain="" UserName="xxx" Password="xxx" />
      <add Key="LDAP" AdType="LDAP" Path="LDAP://127.0.0.1:389/DC=domain,DC=com"
           Domain="domain" UserName="xxx" Password="xxx" />
    </AdSettings>
  </AdServer>
</configuration>
